<!doctype html>
<html>
  <head>
    <% for(var i = 0; i < css.length; i++) { %>
        <link rel="stylesheet" href="<%=css[i]%>">
    <% } %>
    <% for(var i = 0; i < js.length; i++) { %>
        <script type="text/javascript" src="<%=js[i]%>"></script>
    <% } %>
  </head>
  <body>
    <h2>(Portal Name Goes Here) Models</h2>
	    <div ng-app="acre">
        <%for(var i in models){%>
          <a href="#/<%=models[i].collection%>"><%=models[i].collection%></a>
        <%}%>
	    	<div ng-view>
	    	</div>
	    </div>
  </body>
</html>