<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
    <% if (Object.prototype.toString.call(js) !== '[object Array]') {js = [js];} %>
    <% for(var i = 0; i < js.length; i++) { %>
        <script type="text/javascript" src="<%=js[i]%>"></script>
    <% } %>
  </head>
  <body>
    <h2>(Portal Name Goes Here) Models</h2>
	    <div ng-app="acre">
        <%for(var i in models){%>
          <a href="#/<%=models[i].collection%>"><%=models[i].collection%></a>
        <%}%>
	    	<div ng-view>
	    	</div>
	    </div>
  </body>
</html>