<span class="pull-right">
	<button class="btn btn-danger" data-ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" data-ng-click="create()">Save</button>
</span>
<form-direct-generate 
	data-fdr-show-placeholder
	data-fdr-form-class="form-class"
	data-fdr-group-class="acre-fieldset"
	data-fdr-group-title-class="acre-legend"
	data-fdr-label-class="label-class"
	data-fdr-add-btn-class="btn btn-small btn-info acre-array-action-button"
	data-fdr-remove-btn-class="btn btn-small btn-danger acre-array-action-button"
	data-fdr-text-input-class="text-input-class"
	data-fdr-checkbox-input-class="checkbox-input-class"
	data-fdr-textarea-class="textarea-class"
	data-fdr-model='<%-JSON.stringify(instance)%>'
	data-fdr-model-name="<%=model.name%>">
</form-direct-generate>
<span class="pull-right">
	<button class="btn btn-danger" data-ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" data-ng-click="create()">Save</button>
</span>
