<!doctype html>
<html>
  <head>
    <% for(var i = 0; i < css.length; i++) { %>
        <link rel="stylesheet" href="<%=css[i]%>">
    <% } %>
    <% for(var i = 0; i < js.length; i++) { %>
        <script type="text/javascript" src="<%=js[i]%>"></script>
    <% } %>
  </head>
  <body>
      <div class="container acre-view-container">
        <div class="row" data-ng-app="acre">
          <div class="span8 offset2">
          <h3><%=appName%> Admin Portal</h3>
          <hr />
          <div ng-controller="alertController">
            <alert data-ng-repeat="alert in alerts" type="alert.type" close="close($index)">{{alert.msg}}</alert>
          </div>
          <div ng-controller="navigationController">
            <ul class="nav nav-tabs">
              <li data-ng-repeat="tab in tabs" data-ng-class="{active: tab.active === true}">
                <a href="{{tab.href}}">{{tab.title}}</a>
              </li>
            </ul>
            <ul class="breadcrumb">
              <li data-ng-repeat="crumb in crumbs" data-ng-class="{active: crumb.active === true}">
                <a data-ng-if="crumb.active === false" href="{{crumb.href}}">{{crumb.title}}</a>
                <span data-ng-if="$index < (crumbs.length - 1)" class="divider">|</span>
                <span data-ng-if="crumb.active === true">{{crumb.title}}</span>
              </li>
            </ul>
          </div>
          <div data-ng-view>
          </div>
          </div>
        </div>
      </div>
  </body>
</html>